// main.scss
@import 'base/skeleton'; // CSS Skeleton
@import 'base/reset'; // CSS Resets
@import 'base/fonts'; // Fonts
@import 'base/mixins'; // Mixins
@import 'base/general'; // General styles
@import 'base/buttons'; // Buttons

// Modules
@import 'modules/header'; // Header
@import 'modules/footer'; // Footer

// Pages
@import 'pages/home'; // Home
@import 'pages/activities'; // Activities
@import 'pages/news'; // News

// Other
@import 'vendor/slick'; // Slick Slider