// Footer
.newsletter {
  padding: $padding 0;
  background: $green;
  text-align: center;
  h3 {
    color: $white;
    font: $normal 3.2rem/4.0rem $headline;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  input {
    font: $normal 1.8rem/2.8rem $regular;
    background: $white;
    border: 3px solid $white;
    padding: 10px;
    display: inline-block;
    margin: 0;
    &:focus {
      border: 3px solid $red;
    }
    &.email {
      max-width: 300px;
    }
  }
}

.enquiry {
  background: $buff;
  padding: $padding 0;
}

footer {
  padding: $padding 0px;
  color: $white;
  background: $black;
  a {
    color: #8e8996;
    &:hover {
      color: $white;
    }
  }
}
a.back_to_top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 0px;
	top: 75%;
	background: $white url("../img/back_to_top_icon.svg") no-repeat center center;	
	@media (max-width: $breakpoint-tablet) {
  	display: none !important;
  }
}