// Footer
.quick-links {
  background: url('../img/rough_border_red.svg') left bottom -12px no-repeat;
  background-size: auto;
  @media (min-width: $breakpoint-desktop) {
    background: url('../img/rough_border_red.svg') left bottom -18px no-repeat;
    background-size: contain;
  }
  .container {
    padding: $padding-half 0 60px 0;
    margin-top: 0px;
    @media (min-width: $breakpoint-desktop) {
      padding: 60px 0;
      margin-top: 0px;
    }
    border-top: 2px dashed $black;
  }
  @media (min-width: $breakpoint-tablet) {
    .slick-slider {
      &.slide_one {
        margin: 0;
      }
      &.slide_two, &.slide_three {
        margin-left: 4%;
      }
      
    }
  }
  .quick {
    &.blue {
      .slick-dots {
        background: $blue;
      }
    }
    &.red {
      .slick-dots {
        background: $red;
      }
    }
    &.green {
      .slick-dots {
        background: $green;
      }
    }
  }
  .slick-dots {
    top: 0px;
    height: 30px;
    background: $red;
    width: auto;
    padding: 0px 10px 20px 10px;
  }
  article {
    position: relative;
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }
    &.slick-slide {
      padding: 0 !important;
      
    }
    &.blue {
      background: $blue;
      .button {
        background: $white;
        color: $blue;
      }
    }
    &.red {
      background: $red;
      .button {
        background: $white;
        color: $red;
      }
    }
    &.green {
      background: $green;
      .button {
        background: $white;
        color: $green;
      }
    }
    .content {
      color: $white;
      text-align: center;
      padding: 30px;
      h3 {
        color: $white;
        font: $normal 3.2rem/4.0rem $headline;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 20px 0px;
      }
      p {
        font: $normal 1.8rem/2.8rem $regular;
        margin-bottom: 30px;
      }
      a.button {
        display: block;
      }
    }
  }
}
.social {
  padding: $padding 0;
  background: $red;
  color: $white;
  h3 {
    text-align: center;
    font: $normal 6.0rem/6.0rem $headline;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 60px;
    }
  }
  h4 {
    font: $normal 3.4rem/4.0rem $headline;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px solid $white;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  

  // Instagram 
  .instagram {
    a {
      border-bottom: none;
    }
  }
  // Facebook
  #cff { 
    .cff-item {
      clear: none !important;
      padding: 20px 0 15px 0 !important;
    }
    .cff-page-name {
      font: $bold 1.8rem/2.2rem $regular !important;
      text-decoration: none;
    }
    .cff-date {
      color: $white !important;
      font: $normal 1.6rem/2.6rem $regular !important;
    }
    .cff-author img {
      border-radius: 0 !important;
    }
    a {
      color: $white;
      text-decoration: none;
      border-bottom: 1px solid $white;
      &:hover {
        color: $black;
        text-decoration: none;
        border-bottom: 1px solid $black;
      }
    }
  }
}

.newsletter {
  padding: $padding 0;
  background: url('../img/hills_bg.png') left bottom -1px no-repeat, url('../img/rough_border_red.svg') left top -12px no-repeat, $green;
  background-size: contain;
  @media (min-width: $breakpoint-desktop) {
    background: url('../img/hills_bg.png') left bottom -1px no-repeat, url('../img/rough_border_red.svg') left top -20px no-repeat, $green;
    background-size: contain;
    padding: $padding 0 180px 0;
  }
  text-align: center;
  h3 {
    color: $white;
    font: $normal 3.2rem/4.0rem $headline;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  input {
    font: $normal 1.8rem/2.8rem $regular;
    background: $white;
    border: 3px solid $white;
    padding: 10px;
    display: inline-block;
    margin: 0;
    &:focus {
      border: 3px solid $red;
    }
    &.email {
      max-width: 300px;
    }
    &.button {
      -webkit-appearance: none;
      font: $normal 2.6rem/2.8rem $headline;
      display: inline-block;
      margin: 0;
      padding: 0.5em 1em;
      @media (min-width: $breakpoint-mobile) {
        margin-top: -3px;
        margin-left: -2px;
      }
      cursor: pointer;
    }
  }
}

footer {
  &.links {
    padding: $padding 0px $padding-half 0;
    color: $white;
    background: $black;
    form.searchform {
      display: inline-block;
      margin-bottom: 10px;
      text-align: left;
      input {
        border: none;
        font: $normal 1.8rem/2.8rem $regular;
        background: transparent;
        border-bottom: 2px solid $white;
        color: $white;
        padding: 5px 0;
        &::placeholder {
          color: $white;
        }
        &.search {
          width: 88%;
          float: left;
        }
        &.search-submit {
          width: 10%;
          float: left;
          margin: 0;
          line-height: 2.8rem;
          background: transparent url('../img/search_icon.svg') right center no-repeat;
          text-indent: -99999px;
          cursor: pointer;
          -webkit-appearance: none;
        }
      }
      clear: both;
    }
    ul#menu-footer {
      li {
        margin: 5px 0px;
      }
    }
    a {
      color: #8e8996;
      &:hover {
        color: $white;
      }
    }
    .about {
      @media (max-width: $breakpoint-mobile) {
        text-align: center;
        img {
          margin: 0px auto 30px auto;
        }
      }
      img {
        max-width: 100%;
        margin-bottom: 30px;
      }
      ul.social-icons {
        margin-bottom: 10px;
        li {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
    .find, .follow {
      h4 {
        color: $white;
        font: $normal 3.2rem/4.0rem $headline;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px dashed $white;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }
    }
    .follow {
      margin-top: 40px;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 0px;
      }
      p {
        font: $normal 2.4rem/3.2rem $regular;
        color: #dddbdf;
      }
    }
    .find {
      margin-top: $padding-half;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 0px;
      }
      img {
        margin-bottom: 20px;
      }
    }
    // Twitter 
    #ctf .ctf-item {
      padding: 0px 0px !important;
      .ctf-tweet-text {
        font: $normal 1.8rem/2.8rem $regular;
      }
      .ctf-tweet-actions {
        margin: 10px 0px;
        .fa, span {
          color: $white;
          font-size: 2.4rem;
        }
      }  
    }
    .copyright-links {
      text-align: center;
      font: $normal 1.2rem/2.0rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 1.4rem/2.0rem $regular;
      }
      border-top: 1px dashed $white;
      @media (min-width: $breakpoint-tablet) {
        margin-top: $padding;
      }
      margin-top: $padding-half;
      padding-top: $padding-half;
      .menu-extra-footer-container {
        display: block;
        @media (min-width: $breakpoint-tablet) {
          display: inline-block;
        }
      }
      ul {
        margin: 10px 0px 10px 0px;
        li {
          display: block;
          border-right: none;
          @media (min-width: $breakpoint-tablet) {
            display: inline-block;
            border-right: 1px solid $white;
            margin: 0px 0px 0px 20px;
            padding: 0px 20px 0px 0px;
          }
          a {
            padding: 0;
            color: #8e8996;
            &:hover {
              color: $white;
            }
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
  &.accreditations {
    text-align: center;
    overflow: hidden;
    background: $white url('../img/rough_border_black.svg') left top -12px no-repeat;
    background-size: auto;
    padding: 20px 0px;
    @media (min-width: $breakpoint-desktop) {
      padding: $padding-half 0px;
      background: $white url('../img/rough_border_black.svg') left top -20px no-repeat;
      background-size: contain;
    }
    background-size: contain;
    .accreditation {
      
      display: inline-block;
      margin: 0px auto;
      img {
        margin: 5px;
        max-height: 50px;
        @media (min-width: $breakpoint-tablet) {
          margin: 10px;
          max-height: 75px;
        }
        width: auto;
      }
    }
  }
}
a.back_to_top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 0px;
	top: 75%;
	background: $white url("../img/back_to_top_icon.svg") no-repeat center center;	
	@media (max-width: $breakpoint-tablet) {
  	display: none !important;
  }
}