// Footer
.quick-links {
  padding: $padding-half 0;
  article {
    text-align: center;
    border: 1px solid #dee2e5;
    @include border-radius(10px);
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }
    
    &:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
    a {
      color: $black;
      text-decoration: none;
    }
    .date {
      display: block;
      color: $green;
      font: $normal 1.6rem/2.0rem $regular;
      margin-bottom: 10px;
    }
    .image {
      overflow: hidden;
      @include border-radius(10px 10px 0px 0px);
      margin-bottom: 0;
      img {
        transition: transform .5s;
        transform: scale(1.02);
      }
    }
    &:hover {
      .image {
        img {
          transition: transform .5s;
          transform: scale(1.1);
        }
      }
    }
    .content {
      @include border-radius(0px 0px 10px 10px);
      background: $buff;
      color: $black;
      padding: 25px;
      h3 {
        margin-bottom: 20px;
      }
      a.read-more {
        color: $green;
        text-decoration: underline;
      }
    }
  }
  .quick-three { // Remove extra margin on mobile
    article {
      margin-bottom: 0;
    }
  }
}
.full-width {
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    .background {
      background: linear-gradient(90deg, $green 50%, $blue 50%);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: pink;
      z-index: 0;
    }
  }
}
.newsletter {
  z-index: 1;
  padding: $padding-half;
  margin-bottom: $padding-half;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding $padding $padding 0;
    margin-bottom: 0;
  }
  background: $green;
  color: $white;
  h3 {
    color: $white;
  }
  input {
    font: $normal 1.8rem/2.8rem $regular;
    background: $white;
    border: 3px solid $white;
    padding: 10px;
    display: inline-block;
    margin: 0;
    &:focus {
      border: 3px solid $red;
    }
    &.email {
      max-width: 300px;
    }
  }
}
.latest-news {
  z-index: 1;
  color: $white;
  background: $blue;
  padding: $padding-half $padding-half $padding $padding-half;
  margin-bottom: $padding-half;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 $padding $padding;
    margin-bottom: 0;
  }
  h4 {
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .slick-slide {
    padding: 0;
  }
  .slick-dots {
    text-align: left;
  }
}
.newsletter, .latest-news {
  h3 {
    color: $white;
    margin-bottom: 40px;
    font: $normal 3.6rem/4.4rem $headline;
  }
}

.enquiry {
  background: $buff;
  padding: $padding 0;
}

footer {
  overflow-wrap: break-word;
  padding: $padding-half 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0px;
  }
  color: $white;
  background: $black;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    text-align: left;  
  }
  h4 {
    font: $normal 2.8rem/3.6rem $regular;
    margin-bottom: 20px;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  .about {
    margin-bottom: $padding-half;
    @media (min-width: $breakpoint-tablet) {
      margin: 0; 
    }
    svg {
      max-width: 100%;
      margin-bottom: $padding-half;
    }
    a.button {
      &.fb {
        color: $black;
        display: inline-block;
        background: $green url('../img/fb_icon.svg') no-repeat 15px center;
        padding: 15px 30px 15px 50px;
        &:hover {
          background: #3a5899 url('../img/fb_icon_hover.svg') no-repeat 15px center;
          &:before {
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
          }
        }
        
      }
    }
  }
  ul#menu-footer {
    margin-top: 40px;
    display: inline-block;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
a.back_to_top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 0px;
	top: 75%;
	background: $white url("../img/back_to_top_icon.svg") no-repeat center center;	
	@media (max-width: $breakpoint-tablet) {
  	display: none !important;
  }
}