/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button primary reversed">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>
<a href="#" class="button secondary reversed">Get a quote</a>

*/

.button {
  &.primary {
    display: inline-block;
    padding: 15px 50px;
    font: $normal 1.6rem/1.6rem $headline;
    text-align: center;
    text-decoration: none;
    background: $green;
    color: $white;
    border: 1px solid $green;
    @include border-radius(25px);
    &:hover {
      color: $white;
      background: $blue;
      border: 1px solid $blue;
    }
    &.reversed {
      background: $white;
      color: $green;
      border: 1px solid $white;
      &:hover {
        color: $white;
        background: $blue;
        border: 1px solid $blue;
      }
    }
  }
  &.secondary {
    display: inline-block;
    padding: 15px 50px;
    font: $normal 1.6rem/1.6rem $headline;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: $green;
    border: 1px solid $green;
    @include border-radius(25px); 
    &:hover {
      background: transparent;
      color: $blue;
      border: 1px solid $blue;
    }
    &.reversed {
      background: transparent;
      color: $white;
      border: 1px solid $white;
      &:hover {
        background: transparent;
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }
}