/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button primary reversed">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>
<a href="#" class="button secondary reversed">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  &.primary {
    display: inline-block;
    padding: 15px 40px;
    font: $normal 1.6rem/1.6rem $headline;
    text-align: center;
    text-decoration: none;
    background: $green;
    color: $white;
    // border: 1px solid $green;
    @include border-radius(25px);
    &:hover {
      color: $white;
      // background: $blue;
      // border: 1px solid $blue;
      transition: border ease-in 0.3s;
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
    &.reversed {
      background: $white;
      color: $white;
      border: 1px solid $white;
      &:hover {
        color: $white;
        background: $blue;
        border: 1px solid $blue;
        
      }
    }
    &.bunded {
     background: #009ab1; 
    }
    &.fuel {
      background: #68367a;
    }
    &.enviroblu {
      background: #01a3e2;
    }
  }
  &.secondary {
    display: inline-block;
    padding: 15px 40px;
    font: $normal 1.6rem/1.6rem $headline;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: $green;
    border: 1px solid $green;
    @include border-radius(25px); 
    &:hover {
      background: transparent;
      color: $white;
      border: 1px solid $blue;
      transition: border ease-in 0.3s;
      &:before {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        
      }
    }
    &.reversed {
      background: transparent;
      color: $white;
      border: 1px solid $white;
      &:hover {
        background: transparent;
        color: $white;
        border: 1px solid $blue;
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
}

.latest-news {
  .button {
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &.secondary {
      &.reversed {
        &:hover {
          border: 1px solid $white;
          color: $blue;
        }
      }
    }
  }
  
}