/* Buttons */

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.button {
  display: inline-block;
  padding: 15px 50px;
  font: $normal 2.2rem/2.8rem $headline;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: $red;
  color: $white;
  border: none;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover {
    border: none;
    color: $white;
  }
  @media (min-width: $breakpoint-tablet) {
    &:hover {
      text-decoration: none;
      border: none;
      -webkit-animation-name: hvr-pop;
      animation-name: hvr-pop;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }
  &.white {
    background: $white;
    color: $red;
    &:hover {
      color: $red;
    }
    @media (min-width: $breakpoint-tablet) {
      &:hover {
        background: $white;
        color: $red;
      }
    }
  }
  &.red {
    background: $red;
    color: $white;
    @media (min-width: $breakpoint-tablet) {
      &:hover {
        background: $red;
        color: $white;
      }
    }
  }
}
// Booking Hound fixes
.tngbh-btn {
  @extend .button;
  @extend .white;
  &:hover {
    color: $red;
  }
  @media (min-width: $breakpoint-tablet) {
    &:hover {
      background: $white;
      color: $red;
    }
  }
}
.individual-booking > .content > .tngbh-btn {
  @extend .button;
  @extend .red;
  @media (min-width: $breakpoint-tablet) {
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

