// Fonts 

@font-face {
    font-family: 'Headline One';
    src: url('../fonts/headline-one.eot');
    src: url('../fonts/headline-one.eot?#iefix') format('embedded-opentype'),
        url('../fonts/headline-one.woff2') format('woff2'),
        url('../fonts/headline-one.woff') format('woff'),
        url('../fonts/headline-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stag';
    src: url('../fonts/Stag-Book.eot');
    src: url('../fonts/Stag-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stag-Book.woff2') format('woff2'),
        url('../fonts/Stag-Book.woff') format('woff'),
        url('../fonts/Stag-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stag';
    src: url('../fonts/Stag-Semibold.eot');
    src: url('../fonts/Stag-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stag-Semibold.woff2') format('woff2'),
        url('../fonts/Stag-Semibold.woff') format('woff'),
        url('../fonts/Stag-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}