// Activities Listing

.archive_listing, .quick_links {
  padding: $padding-half 0 0 0;
  article {
    background: $red;
    text-align: center;
    margin-bottom: $padding-half;
    h3 {
      color: $white;
      z-index: 2;
      margin: 0;
      padding: 20px;
      font: $normal 2.8rem/3.4rem $headline;
      text-transform: uppercase;
      a {
        border-bottom: none;
      }
    }
    &:nth-child(6n+6) {
      background: $blue;
    }
    &:nth-child(2n+3) {
      background: $green;
    }
    &:nth-child(6n+1) {
      background: $blue;
    }
    &:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
    .image {
      position: relative;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      display: none;
      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
      
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.7s ease;
      background-color: rgba(9, 0, 24, 0.50);
      ul {
        width: 100%;
        color: white;
        font: $normal 1.6rem/3rem $regular;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        li {
          margin: 0px 40px;
          padding: 8px 0px;
          list-style: none;
          border-bottom: 1px solid $white;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
  }
  .intro_content {
    .content {
      text-align: center;
      padding-bottom: $padding;
      p {
        &:first-child {
          font: $bold 2.2rem/3.4rem $regular;
          @media (min-width: $breakpoint-tablet) {
            font: $bold 3.6rem/4.4rem $regular;
          }
        }
        font: $normal 1.8rem/2.6rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
    }
  }
}

.archive_listing {
  background: url('../img/rough_border_green.svg') center bottom -12px no-repeat;
  background-size: contain;
  @media (min-width: $breakpoint-desktop) {
    background: url('../img/rough_border_green.svg') center bottom -20px no-repeat;
    background-size: contain;
  }
  
}

body.post-type-archive, body.page-template-page-parent {
  .quick-links {
    padding-top: 60px;
    background: url('../img/rough_border_green.svg') center top -12px no-repeat;
    background-size: contain;
    @media (min-width: $breakpoint-desktop) {
      background: url('../img/rough_border_green.svg') center top -20px no-repeat;
      background-size: contain;
    }
    container {
      padding-top: 0px;
    }
  }
}

.contact_cta {
  background: $green;
  color: $white;
  padding: $padding 0;
  font: $normal 2.8rem/3.8rem $regular;
  overflow: visible;
}

// Activity Single

.activity.hero {
  text-align: center;
  .button {
    margin: 10px;
  }
}

.activity-slider {
  margin-bottom: 100px !important;
  .slick-slide {
    padding: 0 10px 0 10px;
    width: 100%;
  }
  ul.slick-dots {
    li {
      background: $red;
      border: 1px solid $red;
      &.slick-active, &:hover {
        background: none;
        border: 1px solid $red;
      }
    }
  }
  .slick-prev, .slick-next {
    z-index: 3;
    @media (max-width: $breakpoint-tablet) {
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }
  .slick-prev {
    left: 30px;
    background: url('../img/slider_left_white.svg') center center no-repeat;
  }
  
  .slick-next {
    right: 30px;
    background: url('../img/slider_right_white.svg') center center no-repeat;
  }
}

.glance {
  margin-bottom: $padding-half;
  background: $white;
  color: $red;
  .content {
    padding: 20px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px;
    }
    h2 {
      color: $red;
      font: $normal 3.8rem/4rem $headline;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 4.6rem/5rem $headline;
      }
      text-transform: uppercase;
    }
    ul {
      margin-bottom: 0;
      font: $normal 2.0rem/3.0rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/3.6rem $regular;
      }
      
    }
  }
  
}

.lead {
  margin-bottom: $padding-half;
  p {
    &:first-child {
      font: $normal 2.0rem/3.2rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.6rem/3.6rem $regular;
      }
    }
    font: $normal 1.6rem/2.6rem $regular;
    @media (min-width: $breakpoint-tablet) {
      font: $normal 1.8rem/2.8rem $regular;
    }
  }
  h3, h4 {
    display: inline-block;
    font: $normal 3.6rem/4.4rem $headline;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
    &:after {
      background: url('../img/heading_underline.svg') 0 0 no-repeat;
      content: "";
      height: 10px;
      width: 100%;
      position: absolute;
      bottom: -15px;
      left: 0;
    }
  }
}

.open .accordionItemHeading {
  border-bottom: none;
}
.accordionItemHeading {
  color: $red;
  font: $normal 3.6rem/4.4rem $headline;
  text-transform: uppercase;
  border-bottom: 2px solid $red;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor:pointer;
  position: relative;
  &:before {
    content: "";
    background: url('../img/red_arrow_icon.svg') 0 0 no-repeat;
    transform-origin: 30px 30px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    right: 0;
    top: 10px;
    height: 40px;
    width: 40px;
    position: absolute;
  }
}



.open .accordionItemHeading {
  position: relative;
  &:before {
    content: "";
    background: url('../img/red_arrow_icon.svg') 0 0 no-repeat;
    transform-origin: 15px 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation:spin 0.5s linear forwards;
    -moz-animation:spin 0.5s linear forwards;
    animation:spin 0.5s linear forwards;
  } 
}

.close .accordionItemHeading {
  &:before {
    -webkit-animation:return 0.5s linear forwards;
    -moz-animation:return 0.5s linear forwards;
    animation:return 0.5s linear forwards;  }
}

@keyframes spin { 
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  } 
}

@keyframes return {
  0% {
    transform-origin: 15px 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% { 
    transform-origin: 15px 15px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  } 
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
  float:left;
  display:block;   
}
.open .accordionItemContent{
  border-bottom: 2px solid $red;
  margin: 0px 0px 10px 0px;
  padding-bottom: 20px;
  display:block;
  -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
  -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease;
	-ms-transition: -ms-transform 0.5s ease;
	transition: transform 0.5s ease;
  box-sizing: border-box;
  img {
    margin-bottom: 30px;
  }
}


.bookings {
  margin: $padding-half 0;
  .individual-booking {
    background: $white;
    color: $red;
    .content {
      padding: 40px;
      text-align: center;
      h3 {
        color: $red;
        font: $normal 3.6rem/4.4rem $headline;
        text-transform: uppercase;
      }
      svg { 
        margin: 20px 0px;
        path {
          fill: $red !important;
        }
      } 
    }
  }
  .group-booking {
    background: $red;
    color: $white;
    .content {
      padding: 40px;
      text-align: center;
      h3 {
        color: $white;
        font: $normal 3.6rem/4.4rem $headline;
        text-transform: uppercase;
      }
      svg {
        margin: 20px 0px;
        path, circle {
          fill: $white !important
        }
      }
    }
  }
}

.related {
  padding: $padding-half 0 0 0;
  h3 {
    color: $red;
    font: $normal 3.6rem/4.4rem $headline;
    text-transform: uppercase;
  }
  ul {
    color: $red;
    li {
      margin: 0px;
      padding: 12px 0px;
      list-style: none;
      border-bottom: 1px solid #e0d1c8;
      &:first-child {
        margin: 10px 0px 0px 0px;
        border-top: 1px solid #e0d1c8;
      }
      a {
        background: url('../img/document_icon.svg') center left no-repeat;
        background-size: contain;
        color: $red;
        text-decoration: underline;
        border-bottom: none;
        padding-left: 35px;
        &:hover {
          color: $black;
        }
      }
      &.link {
        a {
          background: url('../img/link_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
      &.pdf {
        a {
          background: url('../img/pdf_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
      
      
    }
  }
}