// Home


// Transparent header
body.home {
  @media (min-width: $breakpoint-tablet) {
  header {
    background: transparent;
    box-shadow: none;
    ul.extra {
      li {
        &.quote {
          background: transparent;
        }
        &.login {
          background: transparent;
        }
      }
    }
    &.scrolled {
      background: $green;
      transition: background 200ms linear;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      ul.extra {
        li {
          &.quote {
            background: $blue;
            transition: background 200ms linear;
          }
          &.login {
            background: $darkGreen;
            transition: background 200ms linear;
          }
        }
      }
    }
  }
  }
  .faq_cta.small_cta {
    display: none;
  }
}

// Hero
.home.hero {
  margin-top: 0;
  padding: 240px 0px 140px 0px;
  text-align: center;
  
  // Uploaded Video
  &.upload {
    padding: 0px;
  }
  .video-upload {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    @include aspect-ratio(2,1);
    padding-top: 100% !important;
    @media (min-width: $breakpoint-tablet) {
      @include aspect-ratio(2,1);
      padding-top: 35% !important;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-top: 35%; // Fix video sizing issue in IE
    }
    
    video {
      min-width: 100%; 
      min-height: 100%; 
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: -1;
      overflow: hidden;
    }
  }
  // Linked Video
  &.video-link {
    padding: 160px 0;
  }
  .video-area {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .float {
    padding: $padding-half 0;
    &.video {
      text-align: center;
      display: block !important;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      padding: $padding-half 0 0 0;
      @media (min-width: $breakpoint-tablet) {
        padding: $padding-half 0;
      }
      z-index: 1 !important;
      width: 100% !important;
      transform: translate3d(-50%, -50%, 0) !important;
    }
  }
}

.half_cta {
  display: block;
  position: relative;
  
  .background {
    background: linear-gradient(90deg,#277be3 50%,#87c849 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .container {
    
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      display: block;
      padding: 0;
      
    }
    text-align: center;
  }
  .price {
    color: $white;
    
    
    background: $blue;
    height: auto;
    width: 100%;
    @media (min-width: $breakpoint-desktop) {
      width: 50%;
    }
    .button.secondary.reversed:hover {
      border: 1px solid $white;
      color: $blue;
    }
    .button.secondary.reversed:before {
      background: $white;
    }
  }
  .tanks {
    width: 100%;
    @media (min-width: $breakpoint-desktop) {
      width: 50%;
    }
    background: $green;
    color: $white;
    margin-left: 0;
  }
  .price, .tanks {
    .content {
      padding: 30px 20px;
      @media (min-width: $breakpoint-desktop) {
        padding: 60px 20px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}
  

// Services
.services_slider {
  padding: $padding-half 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0px;
  }
  text-align: center;
  .service-list { // Mobile
    display: block;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
    ul {
      text-align: left;
      li {
        display: block;
        list-style: none;
        margin: 0;
        a {
          display: block;
          padding: 8px 20px 8px 0px;
          text-decoration: none;
          background: url('../img/arrow/faq.svg') center right no-repeat;
          border-bottom: 1px solid $green;
        }
        &:first-child {
          a {
            border-top: 1px solid $green;
          }
        }
      }
    }
  }
  .service-scroll { // Desktop Slider
    padding-top: $padding-half;
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
  }
  article {
  display: block;
  padding: 5px;
  width: 180px;
  margin: 20px;
  text-align: center;
    a {
      text-decoration: none;
    }
    h3 {
      color: $green;
      z-index: 2;
      margin: 0;
      padding: 20px 0px;
      font: $normal 2.0rem/3.0rem $regular;
    }
    .image {
      overflow: hidden;
      border: 2px solid $green;
      @include border-radius(50%);
      .border {
        padding: 30px;
        display: block;
      }
      svg {
        max-width: 100%;
        height: auto;
        path {
          fill: $green;
        }
      }
    }
    &:hover {
      .image {
        background: $green;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }
  .slick-prev {
    background: url('../img/arrow/left_small.svg') center center no-repeat;
    height: 33px;
    width: 20px;
    z-index: 2;
    top: 44%;
    left: -15px;
    @media (min-width: $breakpoint-mobile) {
      left: -20px;
    }
    @media (min-width: $breakpoint-tablet) {
      background: url('../img/arrow/left.svg') center center no-repeat;
      height: 66px;
      width: 40px;
      top: 38%;
      left: -40px;
    }
    @media (min-width: $breakpoint-desktop) {
      left: -60px;
    }
  }
  
  .slick-next {
    z-index: 2;
    background: url('../img/arrow/right_small.svg') center center no-repeat;
    height: 33px;
    width: 20px;
    top: 44%;
    right: -15px;
    @media (min-width: $breakpoint-mobile) {
      right: -20px;
    }
    @media (min-width: $breakpoint-tablet) {
      background: url('../img/arrow/right.svg') center center no-repeat;
      height: 66px;
      width: 40px;
      top: 38%;
      right: -40px;
    }
    @media (min-width: $breakpoint-desktop) {
      right: -60px;
    }
  }
}


// CTA
.home_cta {
  margin-bottom: $padding-half;
  display: block;
  @media (min-width: $breakpoint-desktop) {
    display: flex;
  }
  
  .cta_bg {
    // flex: 1;
    content: "";
    height: auto;
    min-height: 540px;
    width: 100%;
    @media (min-width: $breakpoint-desktop) {
      width: 60%;
    }
  }
  .cta_content {
    // flex: 1;
    width: 100%;
    text-align: center;
    @media (min-width: $breakpoint-desktop) {
      width: 40%;
      text-align: left;
    }
    background: $green;
    color: $white;
    margin-left: 0;
    .slide {
      padding: 0;
      background: $green;
      .content {
        padding: 20px 20px $padding 20px;
        
        max-width: 100%;
        @media (min-width: $breakpoint-mobile) {
          padding: $padding ;
        }
        @media (min-width: $breakpoint-desktop) {
          max-width: 600px;
          
        }
        h3 {
          font: $normal 3.4rem/4.2rem $headline;
          margin-bottom: 30px;
        }
        p {
          font: $normal 1.8rem/2.8rem $regular;
        }
      }
    }
    .slick-dots {
      width: 100%;
      margin-left: 0px;
      bottom: 30px;
      text-align: left;
      text-align: center;
      @media (min-width: $breakpoint-mobile) {
        width: 80%;
        bottom: 40px;
        margin-left: $padding;
        margin-right: -$padding;
      }
    }
  }
}