// News

section.news {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 $padding-half 0;
  }
  .news_listing {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  article {
    background: $buff;
    border: 1px solid #dee2e5;
    @include border-radius(10px);
    margin-bottom: $padding-half;
    &:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
    a {
      color: $black;
      text-decoration: none;
    }
    .date {
      display: block;
      color: $green;
      font: $normal 1.6rem/2.0rem $regular;
      margin-bottom: 10px;
    }
    .image {
      overflow: hidden;
      @include border-radius(10px 10px 0px 0px);
      margin-bottom: 0;
      img {
        transition: transform .5s;
        transform: scale(1.02);
      }
    }
    &:hover {
      .image {
        img {
          transition: transform .5s;
          transform: scale(1.1);
        }
      }
    }
    .content {
      @include border-radius(0px 0px 10px 10px);
      color: $black;
      padding: 25px;
      h3 {
        margin-bottom: 20px;
      }
      a.read-more {
        color: $green;
        text-decoration: underline;
      }
    }
  }  
    
  .pagination {
    margin: 0px;
    padding: 0px;
    ul {
      text-align: center;
      li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 10px;
        a {
          color: $green;
          text-decoration: underline;
        }
        &.next {
          position: absolute;
          right: 0;
        }
        &.prev {
          position: absolute;
          left: 0;
        }
        &.active {
          a {
            background: $white;
            color: $green;
            text-decoration: none;
          }
        }
      }
    }
  }
}

section.post {
  h1 {
    color: $green;
    font: $normal 4.2rem/4.8rem $headline;
    margin-bottom: 0.5em;
  }
  p.date {
    margin-bottom: 10px;
    color: $green;
  }
}

ul.archive {
  margin: 0 0 $padding-half 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      color: $green;
      text-decoration: none;
      padding: 10px 0px;
      border-bottom: 1px solid $border;
    }
  }
}

.previous_post {
  text-align: left;
}
.next_post {
  text-align: right;
}

.previous_post, .next_post {
  width: 50%;
  a {
    color: $green;
    text-decoration: underline;
    font: $normal 1.6rem/2.4rem $regular;
  }
}