// Activities Listing

.service_listing {
  padding: $padding-half 0 0 0;
  .grid {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
  article {
    display: block;
    padding: 5px;
    width: 180px;
    margin: 20px;
    text-align: center;
    a {
      text-decoration: none;
    }
      h3 {
        color: $green;
        z-index: 2;
        margin: 0;
        padding: 20px 0px;
        font: $normal 2.0rem/3.0rem $regular;
      }
      .image {
        border: 2px solid $green;
        @include border-radius(50%);
        .border {
          padding: 30px;
          display: block;
        }
        svg {
          max-width: 100%;
          height: auto;
          path {
            fill: $green;
          }
        }
      }
      &:hover {
        .image {
          background: $green;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }
}
.contact_cta {
  background: $green;
  color: $white;
  padding: $padding 0;
  font: $normal 2.8rem/3.8rem $regular;
  overflow: visible;
}

.related {
  margin: $padding-half 0 0 0;
  .content {
    @include border-radius(10px);
    padding: 15px 25px;
    background: $info;
    border: 1px solid $border;
  }
  h3 {
    color: $black;
    font: $normal 2.2rem/3.4rem $regular;
    
  }
  ul {
    color: $green;
    margin: 0;
    li {
      margin: 0px;
      padding: 15px 0px;
      list-style: none;
      border-bottom: 1px solid $border;
      &:last-child {
        border-bottom: 0px solid $border;
      }
      a {
        background: url('../img/document_icon.svg') center left no-repeat;
        background-size: contain;
        color: $green;
        text-decoration: underline;
        border-bottom: none;
        padding-left: 40px;
        &:hover {
          color: $black;
        }
      }
      &.link {
        a {
          background: url('../img/link_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
      &.pdf {
        a {
          background: url('../img/pdf_icon.svg') center left no-repeat;
          background-size: contain;
        }
      }
      
      
    }
  }
}