// Tank Listing

.basic_filters {
  text-align: center;
  h2 {
    font: $normal 2.0rem/3.0rem $regular;
  }
  a {
    margin: 10px;
  }
}

.tank_listing, .single_tank {
  padding: $padding-half 0 !important;
  .grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
  }
  .no_match {
    background: $buff;
    border: 1px solid $border;
    padding: 30px;
    @include border-radius(10px);
    text-align: center;
    max-width: 320px;
    h3 {
      font: $bold 3.0rem/4.0rem $regular;
      color: $green;
    }
  }
  article {
    @include border-radius(10px);
    border: 1px solid $border;
    display: block;
    width: 300px;
    margin: 20px;
    text-align: center;
    .heading {
      background: $black;
      color: $white;
      display: flex;
      .name {
        padding: 10px 15px;
        flex-grow: 1;
      }
      .price {
        padding: 10px;
        font: $normal 1.6rem/2.0rem $regular;
        display: flex;
        .info {
          display: block;
          font: $normal 1.0rem/1.8rem $regular;
          color: $border;
        }
        .cost {
          &.single {
            padding: 0px 10px;
          }
          &.double {
            padding-right: 10px;
            &:first-child {
              padding-left: 10px;
            }
          }
        }
      }
    }
    &.fuel-dispensers {
      .heading {
        .name {
          background: #683679;
        }
      } 
    }
    &.enviroblu-tanks {
      .heading {
        .name {
          background: #00a3e1;
        }
      } 
    }
    &.bunded-tanks {
      .heading {
        .name {
          background: #0099b1;
        }
      } 
    }
    .content {
      padding: 20px;
      background: $buff;
      font: $normal 1.6rem/2.0rem $regular;
      .litres {
        overflow: hidden;
        padding: 0px 0px 20px 0px;
        overflow: hidden;
        border-bottom: 1px solid $border;
        .brimful {
          background: url('../img/brimful.svg') 0 -60px no-repeat;
          background-size: cover;
          width: 49%;
          float: left;
          padding-top: 20px;
          display: block;
        }
        .nominal {
          background: url('../img/nominal.svg') 0 -60px no-repeat;
          background-size: cover;
          border-left: 1px solid $border;
          width: 49%;
          float: left;
          padding-top: 20px;
        }
      }
      .size {
        padding: 20px 0px;
        overflow: hidden;
        border-bottom: 1px solid $border;
        .height, .width, .length {
          width: 33%;
          float: left;
        }
        .width {
          border-left: 1px solid $border;
          border-right: 1px solid $border;
        }
      }
      .footprint {
        background: url('../img/footprint.svg') left no-repeat;
        background-size: contain;
        margin: 20px 0px;
        padding: 5px 0px 5px 35px;
        display: inline-block;
        .info {
          display: inline-block;
          margin-left: 5px;
        }
      }
      .info {
        color: #a6a9ab;
        display: block;
        font-weight: normal;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

#archive-filters {
  background: $black;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: $white;
  padding: 30px 0px;
  h3 {
    font: $normal 2.2rem/3.0rem $regular;
    margin-bottom: 20px;
  }
  input#min, input#max, input#min-size, input#max-size {
    font: $normal 1.6rem/3.0rem $regular;
    color: $white;
    background: $black;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    display: inline-block;
    width: 49%;
    
  }
  input#min, input#min-size {
    float: left;
  }
  input#max, input#max-size {
    text-align: right;
    float: left;
  }
  #price-range, #size-range {
    clear: both;
  }
  #type {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: $white;
    line-height: 1.3;
    padding: 10px 0px;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid $black;
    border-bottom: 1px solid #7b7f80;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $black;
    background-image: url('../img/dropdown_arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right top 50%, 0 0;
    background-size: 1em auto, 100%;
  }
  #type::-ms-expand {
    display: none;
  }
  #type:hover {
    border-color: #888;
  }
  #type:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: $white; 
    outline: none;
  }
  #type option {
    font-weight:normal;
  }
}

.single_tank {
  margin-top: 60px;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 90px;
  }
  a.back {
    margin-bottom: 40px;
    display: block;
    font: $normal 2.0rem/2.0rem $regular;
  }
  aside {
    a.button {
      display: block;
      margin: 10px 0px;
    }
    .more-help {
      margin-top: 40px;
    }
  }
  article {
    width: 100%;
    margin: 0;
    display: flex;
    background: $buff;
    .post_image {
      padding: 20px;
    }
    &.fuel-dispensers {
      .name {
        color: #683679;
      } 
    }
    &.enviroblu-tanks {
      .name {
        color: #00a3e1;
      } 
    }
    &.bunded-tanks {
      .name {
        color: #0099b1;
      } 
    }
    .details {
      max-width: 400px;
      .range {
        text-align: left;
        padding: 10px 0px 0px 0px;
        a {
          color: $black;
          text-decoration: underline;
        }
      }
      .name {
        text-align: left;
        padding: 10px 0px;
        font: $bold 3.2rem/4.0rem $regular;
      }
      .litres {
        padding: 10px 0px;
      }
      .price {
        padding: 10px 0px;
        overflow: hidden;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        .cost.double {
          width: 49%;
          float: left;
          &:first-child {
            border-right: 1px solid $border;
          }
        }
      }
    }
  }
  .extra {
    margin-top: 40px;
    .extra_sidebar {
      margin-left: 0;
      ul {
        margin: 0;
        
        li {
          border-bottom: 1px solid $border;
          list-style: none;
          margin: 0;
          padding: 10px 0px;
          a {
            text-decoration: none;
          }
        }
      }
    }
    .extra_content {
      h3 {
        color: $green;
        margin-bottom: 20px;
      }
    }
  }
  
}

.ui-slider {
	position: relative;
	text-align: left;
	margin-right: 15px; // Margin (might need to remove)
	.ui-slider-handle {
  	position: absolute;
  	z-index: 2;
  	width: 15px;
  	height: 15px;
  	cursor: default;
  	-ms-touch-action: none;
  	touch-action: none;
  	top: -7px;
  	background: $white;
  	@include border-radius(50%);
  }
  .ui-slider-range {
    background: $white;
  	position: absolute;
  	z-index: 1;
  	font-size: .7em;
  	display: block;
  	border: 0;
  	background-position: 0 0;
  	top: 0;
  	height: 100%;
  }
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: 2px;
	background: #7b7f7f;
	top: 10px;
  .ui-slider-range-min {
  	left: 0;
  }
  .ui-slider-range-max {
  	right: 0 !important;
  }
}
